{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %} Agregar noticias {% endblock title %} 

{% block content %}

<!-- ======= Breadcrumbs ======= -->
<div class="breadcrumbs d-flex align-items-center" style="background-image: url('{% static "img/blog-header.jpg" %}');">
  <div class="container position-relative d-flex flex-column align-items-center">
    <h2>Nueva noticia</h2>
    <ol>
      <li><a href="{% url 'home' %}">Inicio</a></li>
      <li>Nueva noticia</li>
    </ol>
  </div>
</div><!-- End Breadcrumbs -->
{% if perms.noticia.add_noticia %}
<section id="contact" class="contact">
    <div class="container">
      <div class="row">
          <div class="col-12 col-md-6 offset-md-3">
              <div class="card">
                  <div class="card-body">
                      <h2>Agregar publicación</h2>
                      <hr>
                      <form action="" method="post" enctype="multipart/form-data">
                          {% csrf_token %}
                          {{ form | crispy }}
                          <hr>
                          <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                            <button type="submit" class="btn btn-outline-success btn-lg">Publicar</button>
                          </div>
                      </form>
                    </div>
              </div>
          </div>
      </div>
    </div>
  </section>

  
  {% else %}
<section id="contact" class="contact">
    <div class="container">
      <div class="row">
          <div class="col-12 col-md-6 offset-md-3">
              <div class="card">
                  <div class="card-body">
                      <h2>NO CUENTA CON LOS PERMISOS PARA ESTAR AQUÍ!</h2>
                      
                    </div>
              </div>
          </div>
      </div>
    </div>
  </section>


{% endif %}

{% endblock %}