{% extends 'base.html' %}

{% load static %}

{% block title %} {{ noticia.titulo }} {% endblock title %} 

{% block content %}

<!-- ======= Breadcrumbs ======= -->
<div class="breadcrumbs d-flex align-items-center" style="background-image: url('{% static "img/blog-header.jpg" %}');">
  <div class="container position-relative d-flex flex-column align-items-center">
    <h2>Detalle Noticias</h2>
    <ol>
      <li><a href="{% url 'home' %}">Inicio</a></li>
      <li>Detalle Noticias</li>
    </ol>
  </div>
</div><!-- End Breadcrumbs -->

<!-- ======= Blog Details Section ======= -->
<section id="blog" class="blog">
  <div class="container" data-aos="fade-up">
  
    <div class="row g-5">
  
      <div class="col-lg-9" data-aos="fade-up" data-aos-delay="200">
  
        <article class="blog-details">
          <div class="post-img">
            <img src="{{ noticia.imagen.url }}" alt="" class="img-fluid">
          </div>
  
          <h2 class="title">{{ noticia.titulo }}</h2>
          <hr>
          <h4 class="mb-3">{{ noticia.subtitulo }}</h4>
  
          <div class="meta-top">
            <ul>
              <li class="d-flex align-items-center"><i class="bi bi-tag"></i> <a href="{% url 'categoria' noticia.categoria.id %}">{{ noticia.categoria }}</a></li>
              <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="#"><time datetime="2020-01-01">{{ noticia.fecha }}</time></a></li>
              <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a href="#">{{ noticia.comentarios.count }} Comentarios</a></li>
            </ul>
          </div><!-- End meta top -->
  
          <div class="content">
            <p>{{ noticia.texto }}</p>
          </div><!-- End post content -->

          <div class="meta-bottom">
            
            {% if perms.noticia.add_noticia %}     
            <ul class="cats justify-content-md-end">
              <li><a href="{% url 'editar_noticia' noticia.pk %}"><button class="btn btn-outline-success btn-lg">Editar</button></a></li>
              <li><a href="{% url 'borrar_noticia' noticia.pk %}"><button class="btn btn-outline-danger btn-lg">Eliminar</button></a></li>
            </ul> 
            {% endif %}
          </div><!-- End meta bottom -->
  
        </article><!-- End blog post -->

        <div class="comments">

          <h4 class="comments-count">Comentarios</h4>
          
          {% if not user.is_authenticated %}
              <p>Debes iniciar sesión para poder comentar</p>
            {% endif %}
          {% if not noticia.comentarios.all %}
            No hay comentarios aún...
            
          {% else %}  
            {% for comentario in noticia.comentarios.all %}
          <div id="comment-1" class="comment">
            <div class="d-flex">
              <div>
                <h5><a href="#">{{ comentario.autor.first_name }} {{ comentario.autor.last_name }}</a></h5>
                <time datetime="2020-01-01">{{ comentario.fecha }}</time>
                <p>{{ comentario.comentario }}</p>
              
              </div>
              
            </div>
            <hr>
          </div><!-- End comment #1 -->
            {% endfor %}
          {% endif %}

          
          {% if user.is_authenticated %}
          {% block comentario %}{% endblock %}
          <div class="reply-form">
            <a href="{% url 'comentario' noticia.pk %}"><button class="btn btn-primary">Comentar</button></a>
          </div> 
          {% endif %}
        </div>
      </div>

    

    </div>
  </div>
</section>
    

{% endblock content %}