{% extends 'base.html' %}
{% load static %}
{% block title %} Registro {% endblock title %}
{% load crispy_forms_tags %}
{% block content %}

<!-- ======= Breadcrumbs ======= -->
<div class="breadcrumbs d-flex align-items-center" style="background-image: url('{% static "img/blog-header.jpg" %}');">
    <div class="container position-relative d-flex flex-column align-items-center">
      <h2>Registro</h2>
      <ol>
        <li><a href="{% url 'home' %}">Inicio</a></li>
        <li>Registro</li>
      </ol>
    </div>
  </div><!-- End Breadcrumbs -->

<section id="contact" class="contact">
    <div class="container">
      <div class="row">
          <div class="col-12 col-md-6 offset-md-3">
              <div class="card">
                  <div class="card-body">
                      <h2>Registrate</h2>
                      <hr>
                      <form action="" method="post">                        
                          {% csrf_token %}
                          {{ form | crispy }}
                          <hr>
                          <div class="container">
                            <a href="{% url 'home' %}">Ir a Inicio</a> |
                            <a href="{% url 'login' %}">Iniciar sesión</a>
                            
                            </div>
                          <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                              <button type="submit" class="btn btn-outline-success btn-lg">Registrarme</button>
                          </div>
                      </form>
                  </div>
                  <p>{{ mensaje }}</p>
              </div>
          </div>
      </div>
    </div>
  </section>

{% endblock %}  