{% extends 'base.html' %}
{% load static %}

{% block title %} Categorias {% endblock title %}

{% block content %}

<!-- ======= Breadcrumbs ======= -->
<div class="breadcrumbs d-flex align-items-center" style="background-image: url('{% static "img/blog-header.jpg" %}');">
  <div class="container position-relative d-flex flex-column align-items-center">

    <h2>Categorías</h2>
    <ol>
      <li><a href="{% url 'home' %}">Inicio</a></li>
      <li>Categorías</li>
    </ol>

  </div>
</div><!-- End Breadcrumbs -->

{% if cats_noticia %}
<!-- ======= Blog Section ======= -->
<section id="blog" class="blog">
  <div class="container" data-aos="fade-up">

    <div class="row g-5">
  
      <div class="col-lg-8" data-aos="fade-up" data-aos-delay="200">
  
        <div class="row gy-5 posts-list">
                
        <!-- Inicio de noticia -->
          {% for n in cats_noticia %}
          <div class="col-lg-6">
            <article class="d-flex flex-column">
  
              <div class="post-img"><img src="{{ n.imagen.url }}" alt="" class="img-fluid"></div>
  
              <h2 class="title">
                <a href="{% url 'detalle-noticia' n.pk %}">{{ n.titulo }}</a>
              </h2>
  
              <div class="meta-top">
                <ul>                  
                  <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="{% url 'detalle-noticia' n.pk %}">{{ n.fecha }}</time></a></li>
                  <li class="d-flex align-items-center"><i class="bi bi-tag"></i> <a href="{% url 'detalle-noticia' n.pk %}">{{ n.categoria }}</time></a></li>
                </ul>
              </div>
  
              <div class="content">
                <p>{{ n.texto|truncatewords:"30" }}</p>
              </div>
  
              <div class="read-more mt-auto align-self-end">
                <a href="{% url 'detalle-noticia' n.pk %}">Leer más<i class="bi bi-arrow-right"></i></a></br>
                {% if perms.noticia.add_noticia %}
                <a href="{% url 'editar_noticia' n.pk %}">Editar<i class="bi bi-arrow-right"></i></a></br>
                <a href="{% url 'borrar_noticia' n.pk %}">Eliminar<i class="bi bi-arrow-right"></i></a></br>
                {% endif %}
              </div>
  
            </article>
          </div>
          {% endfor %}
          <!-- Fin de noticia -->
        </div>
      </div>

            
      
      
    </div>
  </div>
</section>
{%else%}
<section id="contact" class="contact">
  <div class="container">
    <div class="row">
        <div class="col-12 col-md-6 offset-md-3">
            <div class="card">
                <div class="card-body">
                    <h2>Categoría vacía</h2>
                    
                  </div>
            </div>
        </div>
    </div>
  </div>
</section>
{%endif%}
         
   
{% endblock content %}