{% load static %}

<!DOCTYPE html>
<html lang="es-ar">

<head>
    <title> {% block title %}  {% endblock title %} </title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <!-- Favicons -->
    <link href="{% static 'img/alasinfondo.jpg' %}" rel="icon">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/aos/aos.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/remixicon/remixicon.css' %}" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

    <!-- Template Main CSS File -->
    <link href="{% static 'css/main2.css' %}" rel="stylesheet">
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
</head>

<body class="page-index">

  <!-- ======= Header ======= -->
    <header id="header" class="header d-flex align-items-center fixed-top">
        <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

        <a href="{% url 'home' %}" class="logo d-flex align-items-center">
            <img src="{% static 'img/alasinfondo.jpg' %}" alt="">
        </a>

        <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
        <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

        <nav id="navbar" class="navbar">
            <ul>              
              <li><a href="{% url 'home' %}">Inicio</a></li>
              <li><a href="{%url 'nosotros' %}">Nosotros</a></li>              
              <li><a href="{% url 'noticias' %}">Noticias</a></li>
              <li><a href="{% url 'contacto' %}">Contacto</a></li>
              {% if perms.noticia.add_noticia %}
              <li class="dropdown"><a href="#"><span>Administración</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
                <ul>
                  <li><a href="{% url 'agregar_noticia' %}">Agregar noticia</a></li>
                  <li><a href="{% url 'noticias' %}">Editar noticias</a></li>
                  <li><a href="{% url 'agregar_categoria' %}">Agregar categoría</a></li>
                  <li><a href="{% url 'listado_categorias' %}">Editar categorías</a></li>
                  <li><a href="{% url 'consultas' %}">Consultas recibidas</a></li>
                </ul>
              </li> 
              {% endif %}
              <li><a>|</a></li>              
              {%if user.is_authenticated %}
                <li><a href="{% url 'logout' %}" class="btn-get-started">Cerrar sesión</a></li>
                <li><a href="#" class="btn-get-started">{{ user.username }}</a></li>
              {% else%}
                <li><a href="{% url 'registro' %}" class="btn-get-started">Registrarse</a></li>
                <li><a href="{% url 'login' %}" class="btn-get-started">Iniciar sesión</a></li>
              {% endif %}
            </ul>
        </nav><!-- .navbar -->

        </div>
    </header><!-- End Header -->



    <main>
  
        {% block content %}
        
    
        
        {% endblock content %}
    
    </main>


  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    <div class="footer-content">
      <div class="container">
        <div class="row gy-4">
          <div class="col-lg-5 col-md-12 footer-info">
            <a href="index.html" class="logo d-flex align-items-center">
              <span>Fundación Ala'</span>
            </a>
            <p>Enterate más en nuestras redes sociales</p>
            <div class="social-links d-flex  mt-3">              
              <a href="#" class="facebook" target="_blank"><i class="bi bi-facebook"></i></a>
              <a href="https://www.instagram.com/fundacion.ala/" class="instagram" target="_blank"><i class="bi bi-instagram"></i></a>              
            </div>
          </div>

            <div class="col-lg-2 col-6 footer-links"></div>

          <div class="col-lg-2 col-6 footer-links"></div>

          <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
            <h4>Contacto</h4>
            <p>
              <h5>Sede</h5>
              Fortín Loma Negra 236<br>
              Primer Piso Dpto 7 - Palermo I <br>
              Resistencia – Chaco<br><br>
              <strong>Teléfono:</strong> (362) 400 2764<br>
              <strong>WhatsApp:</strong> +54 9 362 400 2764<br>
              <strong>Email:</strong> fundacion.ala.chaco@gmail.com<br>
            </p>

          </div>

        </div>
      </div>
    </div>

    <div class="footer-legal">
      <div class="container">
        <div class="copyright">
          &copy; Copyright <strong><span>Informatorio</span></strong>. Todos los derechos reservados
        </div>
        <div class="credits">
          Diseñado por Grupo 14</a>
        </div>
      </div>
    </div>
  </footer><!-- End Footer -->
  <!-- End Footer -->

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'vendor/aos/aos.js' %}"></script>
  <script src="{% static 'vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'vendor/php-email-form/validate.js' %}"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'js/main.js' %}"></script>

</body>

</html>