{% extends 'base.html' %}
{% load static %}

{% block title %} Fundación Ala' {% endblock title %} 

{% block content %}

    <!-- ======= Hero Section ======= -->
    <section id="hero" class="hero d-flex align-items-center">
        <div class="container">
          <div class="row">
            <div class="col-xl-4">
              <h2 data-aos="fade-up">Fundación Ala'</h2>
              <blockquote data-aos="fade-up" data-aos-delay="100">
                <p>Somos una organización comprometida en proveer educación de calidad, integrando las necesidades de los estudiantes, y la preservación de la cultura con el fin de mejorar, enriquecer y contribuir a mejorar la vida de los menos privilegiados.</p>
              </blockquote>
              <div class="d-flex" data-aos="fade-up" data-aos-delay="200">
                {% if not user.is_authenticated %}
                <a href="{% url 'login' %}" class="btn-get-started">Ingresar</a>
                {% endif %}
              </div>
    
            </div>
          </div>
        </div>
      </section><!-- End Hero Section -->


      <!-- ======= Recent Blog Posts Section ======= -->
    <section id="recent-posts" class="recent-posts">
        <div class="container" data-aos="fade-up">
  
          <div class="section-header">
            <h2>Noticias recientes</h2>
  
          </div>
          
          
          <div class="row gy-5">
            {% for n in object_list %}
            <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="100">
              <div class="post-box">
                <div class="post-img"><img src="{{ n.imagen.url }}" class="img-fluid" alt=""></div>
                <div class="meta">
                  <span class="post-date">{{ n.publicado }}</span>
                  <span class="post-author"> / {{ n.categoria }}</span>
                </div>
                <h3 class="post-title">{{n.titulo}}</h3>
                <p>{{ n.texto|truncatewords:"20" }}</p>
                <a href="{% url 'detalle-noticia' n.pk %}" class="readmore stretched-link"><span>Leer más</span><i class="bi bi-arrow-right"></i></a>
              </div>
            </div>    
            {% endfor %}     
                 
          </div>
          
  
        </div>
      </section><!-- End Recent Blog Posts Section -->


<form></form>


{% endblock content %}